.wizard {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wizard__ilustration {
    flex: 0.5;
    background-color: var(--gpg-grey);
    max-height: 33vh;
}

.wizard__ilustration img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wizard__content {
    flex: 1;
    padding: calc(2 * var(--gpg-size));
    display: flex;
    flex-direction: column;
}

.wizard__content__body {
    flex: 1;
    overflow-y: auto;
}

.wizard__content__footer {
    display: flex;
    flex-direction: column;
    padding-top: calc(2 * var(--gpg-size));
}

.wizard__content__footer_link {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .wizard {
        flex-direction: row;
    }
    .wizard__ilustration {
        max-height: unset;
    }
}