.wizard {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wizard__ilustration {
    flex: 0.5;
    background-color: var(--gpg-grey);
    max-height: 33vh;
}

.wizard__ilustration img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wizard__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 67vh;
}

.wizard__content__header {
    display: flex;
    justify-content: space-between;
    padding: calc(2 * var(--gpg-size));
}

.wizard__content__header > div {
    display: flex;
}

.wizard__content__body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: calc(2 * var(--gpg-size));
}

@media (min-width: 1200px) {
    .wizard {
        flex-direction: row;
    }
    .wizard__ilustration,
    .wizard__content {
        max-height: unset;
    }
}