.steptwo__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.steptwo__form textarea {
    margin-bottom: calc(var(--gpg-size) * 2);
    width: calc(100% - var(--gpg-size));
}