.stepone__row {
    display: flex;
    margin: 0 calc(-1 * var(--gpg-size));
    flex-wrap: wrap;
}

.stepone__col {
    display: flex;
    flex: 1 0.5 50%;
    align-items: center;
    padding: calc(1 * var(--gpg-size));
}

.stepone__icon {
    padding: var(--gpg-size);
}

.stepone__logo img {
    height: 52px;
}