.stepfour__wrapper {
    margin-bottom: calc(var(--gpg-size) * 2);
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.stepfour__list {
    display: flex;
    flex-wrap: wrap;
}

.stepfour__list__item {
    flex: 1 1 50%;
    margin-bottom: var(--gpg-size);
    display: flex;
    align-items: center;
}

.stepfour__list__item:nth-child(odd) {
    padding-right: calc(var(--gpg-size) / 2);
}

.stepfour__list__item:nth-child(even) {
    padding-left: calc(var(--gpg-size) / 2);
}

.stepfour__list__item input {
    width: 100%;
}

.stepfour__list__item > div {
    padding: calc(var(--gpg-size) / 2);
}